#section-p1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    background-image: url("about.jpg");
    background-size: cover;
    background-position: top 80% right 0;
    text-align: center; 
.col {
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px; 
}

#section-p1 h4,
#section-p1 p {
    color: #313030 
}
}